
<section id="beginning">
  <div class="container">
    <div class="row">
      <h1>Probably the best review of Deadwood.
        <span
          class="txt-rotate"
          data-period="2000"
          data-rotate='[ "Ever.", "Probably.", "Possibly.", "Basically." ]'>            
        </span>
      </h1>
    </div>
  </div>
</section>

<br>
<br>
<br>

<section id="season1">
  <div class="container">
    <div class="row">
      <div class="slashed">
        <div class="top" title="Season1"></div>
      </div>
      <p class="fillertext">
        1876.
        <br>
        Montana.
        <br>
        The Gem.
        <br>
        Seth Bullock. Wild Bill Hickok. Al Swearengen. Dr. Amos Cochran. A. W. Merrick. E. B. Farnum. Brom Garret.
        <br>
        A butt-ton of Smallpox. Lots of people get killed by each other because of some fake-gold-that's-not-actually-fake.
        <br>
        I think Otis Redding shows up at some point.
        <br>
        More extortion.
        <br>
        I'm pretty sure Bullock becomes the new sheriff.
        <br>
      </p>
    </div>
  </div>
</section>

<section id="season2">
  <div class="container">
    <div class="row">
      <div class="slashed">
        <div class="top" title="Season2"></div>
      </div>
        <p class="fillertext">
          Ok, so it's about 7 months later, stuff has calmed down a bit.
          <br>
          A little fight ensues, because Swearengen calls out Bullock's sheriff-capabilities.
          <br>
          Swearengen has to go through kidney stones (sorry, mate). Has a stroke in the process (same though).
          <br>
          Racism has arrived, folks.
          <br>
          A brothel is opened, a few of the prostitutes are murdered.
          <br>
          Sounds like a lot of wheelin' and dealin' amongst the locals, as well as some new folks like Lee, and Wu.
          <br>
          Season concludes with a wedding!
          <br>
        </p>
    </div>
  </div>
</section>

<section id="season3">
  <div class="container">
    <div class="row">
      <div class="slashed">
        <div class="top" title="Season3"></div>
      </div>
        <p class="fillertext">
          The whole town decided to move itself to something called the Dakota Territory. How a whole town can just move is beyond me though.
          <br>
          Lots of people getting killed. There's a ton of power-struggle, resulting in a guy losing a finger. Bummer dude.
          <br>
          Lots more racial slurs as Samuel returns to find the camp taken over by Steve Fields.
          <br>
          Alma was doing some dope for awhile, and is later shot in the street as a message from Hearst. But the town unites to protect her!
          <br>
          Hearst gets shot and is pissed, wants the 'whore' dead. Al shoots a prostitute named Jen (who wasn't the shooter), and Hearst believes it was the shooter and leaves town to deal with other stuff. 
          <br>
          Tolliver has a clear shot of Hearst, but doesn't, and then takes out his frustration on poor Leon.
          <br>
        </p>
    </div>
  </div>
</section>



